<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div  th:fragment="sidebar" class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" style="background-image: url('/assets/images/img_1.png');color: black;opacity: 12; margin-top: -12px">
    <div class="nano" >
        <div class="nano-content">
            <ul>
                <li class="label">Main</li>
                <li class="active" ><a th:href="@{/index}"  style="background-color:transparent; "><i class="ti-home"></i> 控制台</a>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>角色管理 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="school-student-profile.html" th:href="@{/roleManage/index}">职务管理</a></li>

                    </ul>
                </li>
                <!-- 数据统计-->
                <li style="background-color:transparent;"><a class="sidebar-sub-toggle"><i class="ti-server"></i>数据总览<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="school-student.html" th:href="@{/viewStatistics/workload}">工作量统计</a></li>
                        <li><a href="school-student-profile.html" th:href="@{/viewStatistics/workQuality}">工作质量统计</a></li>
                        <li><a href="school-student-details.html" th:href="@{/viewStatistics/attendance}">考勤统计</a></li>
                        <li><a href="school-student.html" th:href="@{/visitorInfo/index}">访客列表</a></li>
                    </ul>
                </li>

                <li style="background-color:transparent;"><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> 工单管理 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="order-list-page.html" th:href="@{/workOrder/index}">工单列表</a></li>
                    </ul>
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> 客户管理 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/customerInfo/list">客户列表</a></li>
                        <li><a href="/customerInfo/add">添加客户</a></li>
                        <li><a href="/customerInfo/chart">客户统计</a></li>
                    </ul>
                </li>
                <li><a href="/exit"><i class="ti-close"></i> 退出</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->