<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: commonheader(~{::title})">
    <title>客服管理系统登陆</title>
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="index.html"><span>客服系统</span></a>
                        </div>
                        <div class="login-form">
                            <h4>管理员登陆</h4>
                            <form method="post" action="index.html" th:action="@{/customerService/login}">
                                <label style="color: #ff0000" th:text="${msg}"></label>
                                <div class="form-group">
                                    <label>邮箱</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>密码</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">提交</button>
                                <div class="register-link m-t-15 text-center">
                                    <p>你不会真没账号把 ? <a href="#" th:href="@{/customerService/register}"> 点击这里注册吧</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>