<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head.html::head(~{::title})"><title>添加客户</title></head>

<body class="pace-done sidebar-hide">
<div class="pace pace-inactive">
    <div
            class="pace-progress"
            data-progress-text="100%"
            data-progress="99"
            style="transform: translate3d(100%, 0px, 0px)"
    >
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div class="pace pace-inactive">
    <div
            class="pace-progress"
            data-progress-text="100%"
            data-progress="99"
            style="transform: translate3d(100%, 0px, 0px)"
    >
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div th:replace="fragment/sidebar.html::sidebar"></div>
<div th:replace="fragment/header.html::header"></div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>云客服后台管理系统</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">首页</a></li>
                                <li class="active">客户信息添加</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card alert">
                            <div class="card-header pr">
                                <h4>添加客户信息</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert">
                                            <i class="ti-close"></i>
                                        </li>
                                        <li class="card-option drop-menu">

                                            <ul class="card-option-dropdown dropdown-menu">
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-loop"></i> Update data</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-menu-alt"></i> Detail log</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-pulse"></i> Statistics</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-power-off"></i> Clear ist</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <form method="post" th:action="@{/customerInfo/add}">
                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>客户名称</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="customername"
                                        />
                                    </div>
                                </div>

                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>客服id</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="customerserviceid"
                                        />
                                    </div>
                                </div>
                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>真实姓名</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="realname"
                                        />
                                    </div>
                                </div>

                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>公司</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="company"
                                        />
                                    </div>
                                </div>

                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>地址</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="address"
                                        />
                                    </div>
                                </div>
                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>电话</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="phone"
                                        />
                                    </div>
                                </div>
                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>邮箱</label>
                                        <input
                                                type="email"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="email"
                                        />
                                    </div>
                                </div>

                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>标注</label>
                                        <input
                                                type="text"
                                                class="form-control border-none input-flat bg-ash"
                                                placeholder=""
                                                name="remark"
                                        />
                                    </div>
                                </div>
                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>客户等级</label>
                                        <select class="form-control bg-ash border-none" name="level">
                                            <option  th:each="x:${level}" th:text="${x}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="basic-form m-t-20">
                                    <div class="form-group">
                                        <label>状态</label>
                                        <select class="form-control bg-ash border-none" name="state">
                                            <option th:each="x:${state}" th:text="${x}"></option>
                                        </select>
                                    </div>
                                </div>
                                <input type="submit" value="提交" class="btn btn-default btn-lg m-b-10 bg-warning m-t-30 border-none m-r-5 sbmt-btn">
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>客户信息</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert">
                                            <i class="ti-close"></i>
                                        </li>
                                        <li class="card-option drop-menu">

                                            <ul class="card-option-dropdown dropdown-menu">
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-loop"></i> Update data</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-menu-alt"></i> Detail log</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-pulse"></i> Statistics</a
                                                    >
                                                </li>
                                                <li>
                                                    <a href="#"
                                                    ><i class="ti-power-off"></i> Clear ist</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="user-profile m-t-15">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="user-photo m-b-10">
                                                <img
                                                        class="img-responsive"
                                                        src="assets/images/user-profile.jpg"
                                                        alt=""
                                                />
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="user-profile-name">客户名</div>
                                            <div class="custom-tab user-profile-tab">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a
                                                                href="#1"
                                                                aria-controls="1"
                                                                role="tab"
                                                                data-toggle="tab"
                                                        >About</a
                                                        >
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div
                                                            role="tabpanel"
                                                            class="tab-pane active"
                                                            id="1"
                                                    >
                                                        <div class="contact-information">
                                                            <div class="website-content">
                                                                <span class="contact-title">真实姓名:</span>
                                                                <span class="contact-website"
                                                                >`realName`</span
                                                                >
                                                            </div>
                                                            <div class="skype-content">
                                                                <span class="contact-title">地址:</span>
                                                                <span class="contact-skype">`address`</span>
                                                            </div>
                                                            <div class="address-content">
                                                                <span class="contact-title">电话:</span>
                                                                <span class="mail-address">`phone`</span>
                                                            </div>
                                                            <div class="gender-content">
                                                                <span class="contact-title">email:</span>
                                                                <span class="gender">`email`</span>
                                                            </div>
                                                            <div class="phone-content">
                                                                <span class="contact-title">客服id:</span>
                                                                <span class="phone-number"
                                                                >`customerServiceId`(不能更改)</span
                                                                >
                                                            </div>
                                                            <div class="phone-content">
                                                                <span class="contact-title">创建时间:</span>
                                                                <span class="phone-number"
                                                                >`createTime`(不能更改)</span
                                                                >
                                                            </div>
                                                            <div class="birthday-content">
                                                                <span class="contact-title">公司</span>
                                                                <span class="birth-date">`company`</span>
                                                            </div>
                                                            <div class="phone-content">
                                                                <span class="contact-title">途径:</span>
                                                                <span class="phone-number">`channel`</span>
                                                            </div>
                                                            <div class="phone-content">
                                                                <span class="contact-title">级别:</span>
                                                                <span class="phone-number"
                                                                >`level`(根据充钱量自动提升，无法由客服手动更改)</span
                                                                >
                                                            </div>
                                                            <div class="email-content">
                                    <span class="contact-title"
                                    >最后登录时间:</span
                                    >
                                                                <span class="contact-email"
                                                                >`lastedLoginTime`(后台自动获取)</span
                                                                >
                                                            </div>
                                                            <div class="email-content">
                                    <span class="contact-title"
                                    >最后修改时间:</span
                                    >
                                                                <span class="contact-email"
                                                                >`updateTime`</span
                                                                >
                                                            </div>
                                                            <div class="address-content">
                                                                <span class="contact-title">标注:</span>
                                                                <span class="mail-address">`remark`</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  /# column -->
                </div>
                <!-- /# row -->

                <div class="row"></div>
            </section>
        </div>
    </div>
</div>

<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- jquery vendor -->
<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="assets/js/lib/menubar/sidebar.js"></script>
<script src="assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<script src="assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/lib/calendar-2/moment.latest.min.js"></script>
<!-- scripit init-->
<script src="assets/js/lib/calendar-2/semantic.ui.min.js"></script>
<!-- scripit init-->
<script src="assets/js/lib/calendar-2/prism.min.js"></script>
<!-- scripit init-->
<script src="assets/js/lib/calendar-2/pignose.calendar.min.js"></script>
<!-- scripit init-->
<script src="assets/js/lib/calendar-2/pignose.init.js"></script>
<script src="assets/js/scripts.js"></script>
<!-- scripit init-->

<div class="pignose-calendar-wrapper-overlay" style="display: none"></div>
<div
        class="pignose-calendar-wrapper"
        style="display: none; margin-left: -180px; margin-top: -210px"
>
    <div
            class="pignose-calendar pignose-calendar-light pignose-calendar-default"
    >
        <div class="pignose-calendar-top">
            <a
                    href="#"
                    class="pignose-calendar-top-nav pignose-calendar-top-prev"
            >
                <span class="icon-arrow-left pignose-calendar-top-icon"></span>
            </a>
            <div class="pignose-calendar-top-date">
                <span class="pignose-calendar-top-month">March</span>
                <span class="pignose-calendar-top-year">2021</span>
            </div>
            <a
                    href="#"
                    class="pignose-calendar-top-nav pignose-calendar-top-next"
            >
                <span class="icon-arrow-right pignose-calendar-top-icon"></span>
            </a>
        </div>
        <div class="pignose-calendar-header">
            <div class="pignose-calendar-week pignose-calendar-week-sun">SUN</div>
            <div class="pignose-calendar-week pignose-calendar-week-mon">MON</div>
            <div class="pignose-calendar-week pignose-calendar-week-tue">TUE</div>
            <div class="pignose-calendar-week pignose-calendar-week-wed">WED</div>
            <div class="pignose-calendar-week pignose-calendar-week-thu">THU</div>
            <div class="pignose-calendar-week pignose-calendar-week-fri">FRI</div>
            <div class="pignose-calendar-week pignose-calendar-week-sat">SAT</div>
        </div>
        <div class="pignose-calendar-body">
            <div class="pignose-calendar-row">
                <div class="pignose-calendar-unit pignose-calendar-unit-sun"></div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-mon"
                        data-date="2021-03-01"
                >
                    <a href="#">1</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-tue"
                        data-date="2021-03-02"
                >
                    <a href="#">2</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-wed"
                        data-date="2021-03-03"
                >
                    <a href="#">3</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-thu"
                        data-date="2021-03-04"
                >
                    <a href="#">4</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-fri"
                        data-date="2021-03-05"
                >
                    <a href="#">5</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sat"
                        data-date="2021-03-06"
                >
                    <a href="#">6</a>
                </div>
            </div>
            <div class="pignose-calendar-row">
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sun"
                        data-date="2021-03-07"
                >
                    <a href="#">7</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-mon"
                        data-date="2021-03-08"
                >
                    <a href="#">8</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-tue"
                        data-date="2021-03-09"
                >
                    <a href="#">9</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-wed"
                        data-date="2021-03-10"
                >
                    <a href="#">10</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-thu"
                        data-date="2021-03-11"
                >
                    <a href="#">11</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-fri"
                        data-date="2021-03-12"
                >
                    <a href="#">12</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sat"
                        data-date="2021-03-13"
                >
                    <a href="#">13</a>
                </div>
            </div>
            <div class="pignose-calendar-row">
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sun"
                        data-date="2021-03-14"
                >
                    <a href="#">14</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-mon"
                        data-date="2021-03-15"
                >
                    <a href="#">15</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-tue"
                        data-date="2021-03-16"
                >
                    <a href="#">16</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-wed"
                        data-date="2021-03-17"
                >
                    <a href="#">17</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-thu pignose-calendar-unit-active pignose-calendar-unit-first-active"
                        data-date="2021-03-18"
                >
                    <a href="#">18</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-fri"
                        data-date="2021-03-19"
                >
                    <a href="#">19</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sat"
                        data-date="2021-03-20"
                >
                    <a href="#">20</a>
                </div>
            </div>
            <div class="pignose-calendar-row">
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sun"
                        data-date="2021-03-21"
                >
                    <a href="#">21</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-mon"
                        data-date="2021-03-22"
                >
                    <a href="#">22</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-tue"
                        data-date="2021-03-23"
                >
                    <a href="#">23</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-wed"
                        data-date="2021-03-24"
                >
                    <a href="#">24</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-thu"
                        data-date="2021-03-25"
                >
                    <a href="#">25</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-fri"
                        data-date="2021-03-26"
                >
                    <a href="#">26</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sat"
                        data-date="2021-03-27"
                >
                    <a href="#">27</a>
                </div>
            </div>
            <div class="pignose-calendar-row">
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-sun"
                        data-date="2021-03-28"
                >
                    <a href="#">28</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-mon"
                        data-date="2021-03-29"
                >
                    <a href="#">29</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-tue"
                        data-date="2021-03-30"
                >
                    <a href="#">30</a>
                </div>
                <div
                        class="pignose-calendar-unit pignose-calendar-unit-date pignose-calendar-unit-wed"
                        data-date="2021-03-31"
                >
                    <a href="#">31</a>
                </div>
                <div class="pignose-calendar-unit pignose-calendar-unit-thu"></div>
                <div class="pignose-calendar-unit pignose-calendar-unit-fri"></div>
                <div class="pignose-calendar-unit pignose-calendar-unit-sat"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
